In [ ]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime

In [ ]:
start = datetime.datetime(2000,1,1)
end = datetime.datetime(2021,6,30)

In [ ]:
# 야후API 코스피지수
code_name = '^KS11'
code = web.DataReader(code_name, 'yahoo', start, end)
code

                   High          Low  ...     Volume    Adj Close
Date                                  ...
2000-01-04  1066.180054  1016.590027  ...   195900.0  1059.040039
2000-01-05  1026.520020   984.049988  ...   257700.0   986.309998
2000-01-06  1014.900024   953.500000  ...   203500.0   960.789978
2000-01-07   970.159973   930.840027  ...   215700.0   948.650024
2000-01-10   994.940002   974.820007  ...   240200.0   987.239990
...                 ...          ...  ...        ...          ...
2021-06-23  3281.879883  3263.070068  ...  1068300.0  3276.189941
2021-06-24  3292.270020  3277.850098  ...  1300300.0  3286.100098
2021-06-25  3316.080078  3289.179932  ...  1197600.0  3302.840088
2021-06-28  3311.689941  3291.300049  ...  1427400.0  3301.889893
2021-06-29  3305.419922  3276.629883  ...  1213046.0  3286.679932

[5299 rows x 6 columns]

In [ ]:
'''
삼성전자, 005930
네이버, 035420
현대차, 005380
카카오, 035720
SK하이닉스, 000660
'''

In [ ]:
# 종목코드 + .KS 코스피 / .KQ 코스닥

code_name1 = '035420.KS'
code1 = web.DataReader(code_name1, 'yahoo', start, end)
code1

                     High            Low  ...      Volume      Adj Close
Date                                      ...
2002-10-29    1797.724854    1797.724854  ...    501745.0    1763.381104
2002-10-30    2012.226074    1989.754517  ...  20892185.0    1973.784546
2002-10-31    2091.897949    1865.139526  ...  32327083.0    1875.595947
2002-11-01    2022.440430    1724.181519  ...  18373668.0    1759.373291
2002-11-04    1789.553345    1660.852539  ...  16939411.0    1671.204102
...                   ...            ...  ...         ...            ...
2021-06-23  427000.000000  392500.000000  ...   2721355.0  423500.000000
2021-06-24  436000.000000  413000.000000  ...   2143286.0  419500.000000
2021-06-25  420000.000000  405000.000000  ...   1382051.0  410000.000000
2021-06-28  413000.000000  403000.000000  ...    623480.0  408000.000000
2021-06-29  411500.000000  406000.000000  ...    568752.0  411500.000000

[4661 rows x 6 columns]

In [ ]:
code1.to_csv('035420_네이버.csv')

In [ ]:
'''
삼성전자, 005930
네이버, 035420
현대차, 005380
카카오, 035720
SK하이닉스, 000660
'''

In [ ]:
code_name2 = '005930.KS'
code2 = web.DataReader(code_name2, 'yahoo', start, end)
code2.to_csv('005930_삼성전자.csv')

In [ ]:
code_name3 = '005380.KS'
code3 = web.DataReader(code_name3, 'yahoo', start, end)
code3.to_csv('005380_현대차.csv')

In [ ]:
code_name4 = '035720.KS'
code4 = web.DataReader(code_name4, 'yahoo', start, end)
code4.to_csv('035720_카카오.csv')

In [ ]:
code_name5 = '000660.KS'
code5 = web.DataReader(code_name5, 'yahoo', start, end)
code5.to_csv('000660_SK하이닉스.csv')