In [1]:
import pandas as pd

### 내국인 업종코드

In [2]:
upjong = pd.read_csv("E:/oyj/042. 서울시 업종별 내외국인 신한카드 매출데이터/2. 파일데이터/TB_SHCARD_LOCAL_63UPJONG_DIM.txt"
                     , sep='|',encoding='utf-8',quotechar='`')

upjong.head()

In [3]:
upjong_detail_dic = {}
for num in range(len(upjong)):
    upjong_detail_dic[(upjong['SB_UPJONG_CD'][num]).upper()] = upjong['SB_UPJONG_NM'][num]

upjong_detail_dic

## 내국인

In [4]:
native_filepath = "E:/oyj/042. 서울시 업종별 내외국인 신한카드 매출데이터/2. 파일데이터/2. 내국인(집계구)_성별연령대별/SEOUL_KOR_TOTREG_DEMO_"

### 전체 데이터 한번에 묶기

year = ['18', '19', '20']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']

native_data = pd.DataFrame()
for y in year:
    for m in month:
        data = pd.read_csv(native_filepath + y + m +".txt"
                           , sep='|',encoding='utf-8',quotechar='`')   
        native_data = pd.concat([native_data,data])

native_data 
너무 시간이 많이 걸림

### 데이터 가져오는 함수

In [5]:
def get_data(filepath,y,m):
    data = pd.read_csv(filepath + y + m +".txt"
               , sep='|',encoding='utf-8',quotechar='`') 
    return data

In [6]:
native_1801 = get_data(native_filepath,'18','01')

In [7]:
native_18 = pd.DataFrame()
native_18 = pd.concat([native_18,native_1801])

In [8]:
column = ['내국인업종코드','개입법인구분','성별','연령대별','카드이용금액계','카드이용건수계']
native_1801 = native_1801[column]

In [9]:
# # 조심해서 사용할것
# native_1801['내국인업종코드'] = native_1801['내국인업종코드'].map(upjong_detail_dic)
# native_1801.head()

### sum으로 그룹하기

native_1801_sum = native_1801.groupby(['개입법인구분','성별','연령대별','내국인업종코드']).sum()
native_1801_sum.head()

native_1801_sum2 = native_1801.groupby(['내국인업종코드','개입법인구분','성별','연령대별']).sum()
native_1801_sum2

In [10]:
# # 그룹화
# native_1801_sum_age = native_1801.groupby(['연령대별','내국인업종코드']).sum()
# native_1801_sum_age.head()

In [11]:
# 정렬
native_1801_sum_age = native_1801.sort_values(by=['연령대별','카드이용금액계'], ascending=[True,False]).groupby(['연령대별','내국인업종코드'])
native_1801_sum_age

### mean으로 그룹하기

native_1801_avg = native_1801.groupby(['개입법인구분','성별','연령대별','내국인업종코드']).mean()
native_1801_avg